!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title WordleLookup
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    %link{ rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css' }
  %body
    .container

      .columns
        .column
          %h1.title.is-1.mt-4
            %a{ href: '/' } Wordle Lookup

      .columns
        .column.is-half.px-5
          %form{ action: '/' }
            .level.is-mobile
              .level-left
                .level-item
                  %label.label.is-small ⬛
                .level-item
                  .field.is-grouped
                    .control
                      %input.input.is-small{ name: 'b', value: @b.join, size: 41 }

            .level.is-mobile
              .level-left
                .level-item
                  %label.label.is-small 🟨
                .level-item
                  .field.is-grouped
                    - 5.times do |n|
                      .control
                        %input.input.is-small{ name: 'y[]', value: @y[n], size: 5 }

            .level.is-mobile
              .level-left
                .level-item
                  %label.label.is-small 🟩
                .level-item
                  .field.is-grouped
                    - 5.times do |n|
                      .control
                        %input.input.is-small{ name: 'g[]', value: @g[n], size: 5 }

            .field.control
              %input.button.is-success.is-outlined.is-small.is-fullwidth{ type: :submit, value: :Lookup }

        .column.is-half
          %h2.title.is-2 #{@words.count} Words found.
          %pre
            = @words.join("\n")


    .columns
      .column
        .footer.has-text-right
          %a{ href: 'https://github.com/hana-da/wordle_dictionary/tree/main/wordle_lookup' } Wordle Lookup
          &copy; 2022
