.columns
  .column
    %h1.title.is-1.mt-4
      %a{ href: root_path } Wordle Lookup

.columns
  .column.is-half
    %form{ action: root_path }
      .field.is-horizontal
        .field-label.is-normal
          %label.label ⬛
        .field-body
          .field.control
            %input.input{ name: 'b', value: @b.join }

      .field.is-horizontal
        .field-label.is-normal
          %label.label 🟨
        .field-body
          - 5.times do |n|
            .field.control
              %input.input{ name: 'y[]', value: @y[n] }

      .field.is-horizontal
        .field-label.is-normal
          %label.label 🟩
        .field-body
          - 5.times do |n|
            .field.control
              %input.input{ name: 'g[]', value: @g[n] }

      .field.is-horizontal
        .field-label.is-normal
        .field-body
          .field.control
            %input.button.is-success.is-outlined.is-fullwidth{ type: :submit, value: :Lookup }

  .column.is-half
    %h2.title.is-2 #{@words.count} Words found.
    %pre
      = @words.join("\n")
